In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
df = pd.read_excel('task_support.xlsx', sheet_name='Tasks', index_col=0, skiprows = 2, header = None,  parse_dates=[4, 5, 6])
df

,1,2,3,4,5,6
0,,,,,,
1,14,54,"0 ,481208997226 7124",Mon Aug 6 07:11:19 2018,2026-07-19 08:15:41.695463,2011-10-04
2,12,55,0 .9092218987487982,Thu Dec 1 01:32:03 2016,2006-08-06 16:18:39.172100,2006-08-28
3,25,2,0. 3268611158564687,Wed Aug 2 22:37:44 2028,2020-11-08 10:08:31.158667,2019-11-21
4,53,3,0. 38081302402434 647,Thu Feb 19 06:32:31 2009,2015-01-13 21:46:36.390139,2010-06-26
5,48,4,"0 , 7685621545518444",Wed Nov 19 04:33:36 2025,2030-09-24 00:13:00.613749,2011-12-03
...,...,...,...,...,...,...
996,47,995,0 . 31648710908094746,Thu Jan 6 12:47:14 2022,2004-08-15 22:47:52.816219,2007-08-10
997,49,996,0 . 5254363291858615,Thu Oct 10 19:17:25 2013,2021-04-20 22:31:47.686148,2021-01-16
998,47,997,0 . 8274052871520312,Fri Mar 21 20:29:44 2008,2020-02-20 07:16:28.324597,2029-04-24
999,32,998,"0 ,01 907367792932857",Sat Jan 31 19:35:29 2004,2017-11-19 04:27:59.413835,2016-08-29
1000,14,999,0 .10654496173562866,Tue May 22 21:01:21 2012,2020-07-22 18:46:09.789473,2009-01-26

In [3]:
df.dtypes

1             int64
2             int64
3            object
4            object
5    datetime64[ns]
6    datetime64[ns]
dtype: object

In [4]:
df[3] = df[3].str.replace(' ', '')
df[3] = df[3].str.replace(',','.')
df[3] = df[3].astype('float')

In [5]:
df[4] = df[4].str[:24]
df[4] = df[4].astype('datetime64[ns]')

In [6]:
df.dtypes

1             int64
2             int64
3           float64
4    datetime64[ns]
5    datetime64[ns]
6    datetime64[ns]
dtype: object

In [7]:
df['is_even'] = df[1].apply(lambda x:True if x % 2 == 0 else False)
df['is_even'].sum()

507

In [8]:
def simple_number(number):
    for divider in range(2, number):
        if number%divider==0:
            return False
    return True

df['simple'] = df[2].apply(simple_number)
df['simple'].sum()

168

In [9]:
df['less_0.5'] = df[3] < 0.5
df['less_0.5'].sum()

485

In [10]:
df['4_tuesday'] = pd.to_datetime(df[4]).dt.dayofweek
df['4_tuesday'].value_counts().loc[1]

156

In [11]:
df['5_tuesday'] = pd.to_datetime(df[5]).dt.dayofweek
df['5_tuesday'].value_counts().loc[1]

138

In [18]:
def last_tuesday(x):
    if x.strftime("%a") != "Tue":
        return False
    original_month = x.strftime("%m")
    new_date = x + timedelta(days = 7)
    return new_date.strftime("%m") != original_month

df['last_tuesday'] = df[6].apply(last_tuesday)
df['last_tuesday'].sum()

43

In [19]:
df.to_excel('results.xlsx')